<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{isNew ? 'CREAR' : 'EDITAR'}} POST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <form [formGroup]="post_form" (ngSubmit)="process_post()" id="post_ngform">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="title"
            label-placement="floating"
            label="Título"
            placeholder="Título"
            type="text"
            errorText="Campo requerido"
            helperText="Campo requerido"
            [counter]="true"
            maxlength="30"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="description"
            label-placement="floating"
            label="Descripción"
            placeholder="Descripción"
            type="text"
            errorText="Campo requerido"
            helperText="Campo requerido"
            [counter]="true"
            maxlength="256"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-select
            class="ion-input"
            fill="outline"
            formControlName="contacts"
            label-placement="floating"
            [multiple]="true"
            label="Etiquetar contactos"
            placeholder="Etiquetar contactos"
          >
            <ion-select-option value="1">Contacto 1</ion-select-option>
            <ion-select-option value="2">Contacto 2</ion-select-option>
            <ion-select-option value="3">Contacto 3</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row>
          <ion-col size="6">
            <ion-item>
              <div id="photoPicker" class="media-picker" (click)="takePhoto()">
                <div id="photoNotShow">
                  <ion-icon name="camera-outline"></ion-icon>
                  <p>Toca aquí para agregar una imágen</p>
                </div>
                <img id="photoShow" src="" />
              </div>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <div id="videoPicker" class="media-picker" (click)="takeVideo()">
                <div id="videoNotShow">
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                  <p>Toca aquí para agregar un vídeo</p>
                  <input
                    type="file"
                    style="visibility: hidden"
                    (change)="saveVideo($event)"
                    #video
                    id="video"
                    name="video"
                    accept="video/*"
                    capture="environment"
                  />
                </div>
                <video autoplay loop muted id="videoShow"></video>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button type="submit" form="post_ngform">
    {{isNew ? 'CREAR' : 'ACTUALIZAR'}}
  </ion-button>
</ion-footer>
