ion-content {
  .page-content {
    padding: 1em;

    ion-item {
      margin-bottom: 1rem;

      .ion-input {
        margin-top: 0.5rem;
        --padding-start: 1rem;
      }

      .media-picker {
        cursor: pointer;
        color: #888;
        width: 100%;
        padding: 1rem;
        text-align: center;
        border: 0.1em dashed #b3b3b3;
        border-radius: 0.5em;

        ion-icon {
          width: 5em;
          height: 5em;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

ion-footer {
  padding: 1em;
}
