ion-content {

  .page-content {
    padding: 1em;
    margin-bottom: 3em;

    .page-title {
      text-align: center;
      width: 100%;
    }

    .col-image {
      display: flex;
      align-items: center;

      .user-image {
        border: 0.1em solid #b3b3b3;
        border-radius: 50%;
        width: 8em;
      }
    }

    ion-item {
      .ion-input {
        margin-top: 0.5rem;
        --padding-start: 1rem;
      }
    }

    .btn-center {
      text-align: center;
      width: 100%;
    }
  }
}

ion-footer {
  padding: 1em;
}
