ion-content {
  --background: transparent;
  --overflow: hidden;

  .page-content {
    capacitor-google-map {
      display: inline-block;
      width: 100%;
      height: calc(100vh - 7em);
    }

    ion-fab {
      padding-bottom: 5em;
    }
  }
}
