ion-content {
  .page-content {
    padding: 1em;

    .page-title {
      text-align: center;
      width: 100%;
    }

    ion-item {
      margin-bottom: 1rem;
      align-items: start;

      .ion-input {
        margin-top: 0.5rem;
        --padding-start: 1rem;
      }

      .ion-note {
        font-size: 0.5rem;
        padding-left: 0.5rem;
        max-width: 5rem;

        ion-note {
          color: red
        }
      }
    }

    .forgot_btn {
      cursor: pointer;
    }
  }
}

ion-footer {
  padding: 1em;
}
