<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <ion-grid>
      <ion-row>
        <h1 class="page-title">Social Map</h1>
      </ion-row>

      <ion-row>
        <ion-col>
          <form action="">
            <ion-list lines="none">
              <ion-item>
                <ion-input
                  class="ion-input"
                  [(ngModel)]="mail"
                  fill="outline"
                  label-placement="floating"
                  label="Email"
                  name="mail"
                  placeholder="tu@email.com"
                  type="email"
                >
                </ion-input>
              </ion-item>
              <br />
              <ion-item>
                <ion-input
                  class="ion-input"
                  [clearInput]="true"
                  [(ngModel)]="password"
                  fill="outline"
                  label-placement="floating"
                  label="Contraseña"
                  name="password"
                  placeholder="********"
                  type="password"
                >
                </ion-input>
              </ion-item>
            </ion-list>
          </form>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="login($event)">LOGIN</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding ion-text-center">
          <a class="forgot_btn" (click)="recover()">
            He olvidado mi contraseña
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="register()" fill="outline">REGISTRO</ion-button>
</ion-footer>
