<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content">
    <io-grid>
      <ion-row>
        <h3>Social Map</h3>
        <span>Nuestra red social</span>
      </ion-row>
      <ion-row>
        <ion-col>
          <form action="">
            <ion-list>
              
            </ion-list>
          </form>
        </ion-col>
      </ion-row>
    </io-grid>
  </div>
</ion-content>
