<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page_content">
    <form action="">
      <ion-list>
        <ion-item>
          <ion-input
            name="name"
            type="text"
            placeholder="Nombre"
            [(ngModel)]="newUser.name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="surname"
            type="text"
            placeholder="Apellidos"
            [(ngModel)]="newUser.surname"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="E-mail"
            [(ngModel)]="newUser.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="province"
            type="text"
            placeholder="Provincia"
            [(ngModel)]="newUser.province"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="city"
            type="text"
            placeholder="Ciudad"
            [(ngModel)]="newUser.city"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="age"
            type="number"
            placeholder="Edad"
            [(ngModel)]="newUser.age"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button type="submit" (click)="createAccount($event)">
    Crear Cuenta
  </ion-button>
</ion-footer>
