<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page_content">
    <form
      [formGroup]="register_form"
      (ngSubmit)="createAccount($event)"
      id="register_ngform"
    >
      <ion-list lines="none">
        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="name"
            label-placement="floating"
            label="Nombre"
            placeholder="Nombre"
            type="text"
            errorText="Campo requerido"
            helperText="Campo requerido"
            [counter]="true"
            maxlength="20"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="surname"
            label-placement="floating"
            label="Apellidos"
            placeholder="Apellidos"
            type="text"
            errorText="Campo requerido"
            helperText="Campo requerido"
            [counter]="true"
            maxlength="50"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="email"
            label-placement="floating"
            label="Email"
            placeholder="Email"
            type="email"
            errorText="Email inválido"
            helperText="Campo requerido"
            [counter]="true"
            maxlength="30"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="province"
            label-placement="floating"
            label="Provincia"
            placeholder="Provincia"
            type="text"
            [counter]="true"
            maxlength="30"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="city"
            label-placement="floating"
            label="Ciudad"
            placeholder="Ciudad"
            type="text"
            [counter]="true"
            maxlength="50"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="ion-input"
            [clearInput]="true"
            fill="outline"
            formControlName="age"
            label-placement="floating"
            label="Edad"
            placeholder="Edad"
            value="18"
            type="number"
            min="18"
            max="99"
            helperText="El valor debe ser mayor 18 y menor 99"
          >
          </ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="resetForm()" routerLink="">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button type="submit" form="register_ngform">CREAR CUENTA</ion-button>
</ion-footer>
