<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ post.lat }}, {{ post.lng }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="page_content">
    <ion-list lines="none">
      <ion-item>
        <b>{{ post.title.toUpperCase() }}</b>
      </ion-item>
      <ion-item>
        {{ post.description }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button color="dark" (click)="goBack()"> CLOSE </ion-button>
</ion-footer>
